


<p></p>

<a href="create/" class="btn btn-success">Создать письмо</a>

<p></p>

<form action="" method="post" class="form">

    <table border="1">
        <tr>
            <td>ID</td>
            <td>Текст</td>
            <td>Секунды</td>
            <td>Отправлено (да/нет)</td>
            <td>Дата создания</td>
        </tr>
        {% for mail in object_list|dictsortreversed:"created_date" %}
        <tr>
            <td>{{ mail.id }}</td>
            <td>{{ mail.text }}</td>
            <td>{{ mail.timeSecond }}</td>
            <td>{{ mail.sent }}</td>
            <td>{{ mail.created_date }}</td>
        </tr>
        {% endfor %}
    </table>

</form>
